@model IEnumerable<prjMvcCoreDemo.Models.TProduct>

@{
    ViewData["Title"] = "List";
}

<h1>購物車</h1>

<p>
    <a asp-action="CartView">檢視購物車</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                序
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FQty)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.FPrice)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{int count = 0;
        foreach (var item in Model)
        {
                count++;
        <tr>
            <td>
                        @count
            </td>
            <td>
            <p><img src="~/images/@item.FImagePath" width="280" height="180" /></p>
                @Html.DisplayFor(modelItem => item.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FQty)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.FPrice)
            </td>
            
            <td>
                        @Html.ActionLink("加入購物車", "AddToCart",  new { id = item.FId })
            </td>
        </tr>
}}
    </tbody>
</table>
