@model IEnumerable<prjMvcCoreDemo.Models.TProduct>

@{
    ViewData["Title"] = "List";
}

<h1>商品資訊一覽表</h1>
@using (Html.BeginForm())
{
    @:關鍵字 @Html.TextBox("txtKeyword")
    <input type="submit" value="查詢" />
}
<p>
    <a asp-action="Create">新增商品</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                序
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FQty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FPrice)
            </th>
            商品照片
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0;
            foreach (var item in Model) {
                count++;
        <tr>
            <td>
                        @count
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FQty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FPrice)
            </td>
            <td>
                 <img src="~/Images/@item.FImagePath" width="160" height="80" />
            </td>
            <td>
                @Html.ActionLink("修改", "Edit", new {  id=item.FId }) |
                @Html.ActionLink("刪除", "Delete", new {  id=item.FId },new{onclikc="return confirm('確定要刪除嗎?')"})
            </td>
        </tr>
}}
    </tbody>
</table>
